/*
	Stylesheets for Github self dashboard
	https://github.com/
*/
body.github-ui-better-repositories-card {
	.dashboard-sidebar {
		// make left side repositories panel line heighter
		li.source, li.fork{
			line-height: 22px;

			a {
				margin-top: 8px !important; // fix for organization page
				// following style will be removed in the future
				// & > span {
				// 	 margin-left: .5em;
				// }
			}
		}
	}
}
